body{
	background-image: url(http://i764.photobucket.com/albums/xx286/lightsatnight/harry-potter-14.jpg)
}

#welcome{
	color: white ;
}

#name{
	color: white ;
}

#first-name{
	color: white ;
}

#middle-name{
	color: white ;
}

#last-name{
	color: white ;
}

#welcome-player{
	color: white ;
}

#w{
	color: white ;
}

#show-first-name{
	color: white ;
}

#show-middle-name{
	color: white ;
}

#show-last-name{
	color: white ;
}